body {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  background-color: hsl(0, 0%, 85%);
}

.square {
  width: 100px;
  height: 100px;
}

.block {
  display: block;
}

.shape {
  width: 50px;
  height: 50px;
}

.comparison h1, .comparison p {
  font-size: 12px;
}